body {
  background-color: #a3adb9;
}

nav{
  background-color: #04294b;
}

 nav ul a,
 nav .brand-logo {
   color: #444;
 }

 h1 {
  color:#04294b;
  font-weight: bolder;
 }

 h2 {
  color:#04294b;
  font-weight: bolder;
 }

 h3 {
  color:#04294b;
 }

 h4 {
  color:#04294b;
 }

 h5 {
  color:#04294b;
 }

h5 {
  text-transform: none;
}

a {
  color: #04294b;
}

.fa-solid {
  color: #04294b;
}

hr {
  color:white;
}

p {
   line-height: 2rem;
   font-size:1.5rem;
   color:#04294b;
}
 
 .card-content p {
  font-size:1rem;
 }

 .btn {
  color: #04294b;
 }


.sidenav-trigger {
   color: #26a69a;
}
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
.page-footer {
  background-color:#04294b;
}

.page-footer
 footer.page-footer {
   margin: 0;
 }
 
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
  color: #04294b;
  font-size: 2em;
  margin: 5px;
  line-height: 42px;
}

.collapsible-body {
  font-size: larger;
  background-color:white;
}