{% extends "base.html" %}
{% block content %}

<h3 class="center-align text-shadow heavy">Apply</h3>

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('apply') }}">
    <div class="card-panel">
      <!-- task name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
          <input id="task_name" name="task_name" type="text" minlength="5" maxlength="50" class="validate" required>
          <label for="username">Task Name</label>
        </div>
      </div>
      <!-- username -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
          <input id="username" name="username" type="text" minlength="5" maxlength="50" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <!-- personal information -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" name="first_name" type="text" class="validate" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" name="last_name" type="text" class="validate" required>
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <!-- text area -->
            <div class="row">
              <div class="input-field col s12">
                <textarea id="description" name="description" type="description" class="materialize-textarea"
                  class="validate" minlength="5" maxlength="500" required></textarea>
                <label for="textarea1">Please give a brief description why you are applying:</label>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <div class="row">
            <div class="col s12 center-align">
              <button type="submit" class="btn-large grey-text text-darken-4 lime darken-3">
                Apply <i class="fas fa-plus-square right"></i>
              </button>
            </div>
          </div>
          <!-- cancel button -->
          <div class="row">
            <div class="col s12 center-align white-text">
              <button type="cancel" class="btn-large light-blue grey-text text-darken-4 lighten-1"><a
                  href="{{ url_for('get_tasks') }}">
                  Cancel<i class="fas fa-xmark right"></i></a></button>

            </div>
          </div>
        </form>
      </div>
    </div>

  </form>
</div>

{% endblock %}