{% extends "base.html" %}
{% block content %}

<h3 class="center-align text-shadow heavy">Contact</h3>

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact') }}">
    <div class="card-panel">
      <!-- personal information -->
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" name="first_name" type="text" aria-label="First Name" class="validate" required>
            <label><b>First Name</b></label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" name="last_name" type="text" aria-label="Last Name" class="validate" required>
            <label><b>Last Name</b></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="email" aria-label="email" class="validate" required>
            <label>Email</label>
          </div>
        </div>
        <div class="row">
          <!-- text area -->
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" name="message" class="materialize-textarea validate" 
                minlength="5" maxlength="500" required></textarea>
              <label>Please type your message here:</label>
            </div>
          </div>
        </div>
        <!-- submit button -->
        <div class="row">
          <div class="col s12 center-align">
            <button type="submit" class="btn-large grey-text text-darken-4 lime darken-3">
              Send <i class="fas fa-plus-square right"></i>
            </button>
          </div>
        </div>
        <!-- cancel button -->
        <div class="row">
          <div class="col s12 center-align">
            <a href="{{ url_for('get_home') }}"
                class="btn-large grey-text text-darken-4 blue lighten-1">
                Cancel<i class="fas fa-xmark right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}