{% extends "base.html" %}
{% block content %}

<h3 class="center-align text-shadow heavy">Contact</h3>

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact') }}">
    <div class="card-panel">
      <!-- personal information -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" name="first_name" type="text" class="validate" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" name="last_name" type="text" class="validate" required>
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <!-- text area -->
            <div class="row">
              <div class="input-field col s12">
                <textarea id="description" name="description" type="description" class="materialize-textarea"
                  class="validate" minlength="5" maxlength="500" required></textarea>
                <label for="textarea1">Please type your message here:</label>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <div class="row">
            <div class="col s12 center-align">
              <button type="submit" class="btn-large grey-text text-darken-4 lime darken-3">
                Send <i class="fas fa-plus-square right"></i>
              </button>
            </div>
          </div>
          <!-- cancel button -->
          <div class="row">
            <div class="col s12 center-align">
              <button type="cancel" class="btn-large grey-text text-darken-4 lighten-1"><a
                  href="{{ url_for('get_home') }}">
                  Cancel<i class="fas fa-xmark right"></i></a></button>

            </div>
          </div>
        </form>
      </div>
    </div>

  </form>
</div>

{% endblock %}