{% extends "base.html" %}
{% block content %}

<!-- welcome message -->
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Croeso | Welcome</h4>
                <p class="left-align light">We're so glad you're here! This is your online hub to find out about 
                    voluntary opportunities in Ceredigion. Wether you want to make new friends, give back to the 
                    community or build relevant experience for your CV or field of study, chances are we can 
                    match you with an organisation or charity that would love to hear from you! So take a look 
                    around and begin your volunteering journey today!</p>
            </div>
        </div>
    </div>
</div>
<!--   Icon Section   -->
<section>
    <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center blue-text darken-4"><i class="fa-solid fa-seedling"></i></h2>
                <h5 class="center">Environment</h5>
    
                <p class="light">Do you care deeply about the environment? Would you 
                    like to keep the local area safe and accesable for the comminuity 
                    and wildlife? If so, we've teamed up with local organisations 
                    like Tir Coed, Surfers Against Sewage and Eco Soc and have many 
                    rewarding opportunities available for all ages and levels of 
                    ability, click below to see out latest opportunities.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center blue-text darken-4"><i class="fa-solid fa-person-breastfeeding"></i></h2>
                <h5 class="center">People</h5>
    
                <p class="light">Are you just good with people? Do you always seem to 
                    calm people or make them smile? Then organisations like Hafan Y Waun, 
                    Mudiad Meithrin and Mind would love to hear from you! No matter 
                    what your skills or specialities, theres bound to be an oppertunity 
                    where you can make a difference. Click below to see what will 
                    be a good fit for you! </p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center blue-text darken-4"><i class="fa-solid fa-paw"></i></h2>
                <h5 class="center">Animals</h5>
    
                <p class="light">Do you consider yourself a Dr Dolittle? Do you have an 
                    affinity with animals? Charities and institutions like Cats Protection 
                    League, Ystwyth Vets and RSPA Ceredigion branch are in great need of 
                    kind, patient and reliable volunteers to help them with the miriad of 
                    animals in their care. If you think you can help check out out 
                    opportunities by clicking the button below</p>
              </div>
            </div>
          </div>
    
        </div>
      </div>

{% endblock %}