{% extends "base.html" %}
{% block content %}
<!-- title--> 
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send blue-text darken-4"></i></h3>
                <h4>Our Volunteers</h4>
                <p class="left-align light">We've been so lucky to work with some 
                    amazing people who havegiven their time to worthwhile cause in 
                    the area. Come and meet some of them and get inspired to start 
                    your own volunteering journey.</p>
            </div>
        </div>
    </div>
</div>

<!-- cards-->
<div class="col s12 m7">
    <h4 class="header">Nico and Joanna</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="pexels-kampus-production-7551617.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>We are both second year Computer Science students at Aberystwyth University. 
            We love the area, but wanted to get to know the compunity beyond the campus. 
            We saw the advert posted by Hafan Y Waun that was looking for people to provide 
            simple tech lessons for the elderly. We've loved our time here! One of our 
            favourite residents is Joe who we've taught basic iPad use so he can emjoy his 
            favourite books and read to his grandchildren via skype. We thoroughly 
            recommend undertaking a volunteering opportunity, especially as cups of 
            tea are provided!  </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}